<div class="row">
    <div class="col-lg-12">
        <div class="footer">
            <p>2023 © DimasNugroho. - <a href="mailto: dimasnughadii@gmail.com">dimasnughadii.com</a></p>
        </div>
    </div>
</div>
</section>
</div>
</div>
</div>

<!-- jquery vendor -->

<script src="{{ url_for('static', filename='js/lib/jquery.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/lib/jquery.nanoscroller.min.js') }}"></script>
<!-- nano scroller -->
<script src="{{ url_for('static', filename='js/lib/menubar/sidebar.js') }}"></script>
<script src="{{ url_for('static', filename='js/lib/preloader/pace.min.js') }}"></script>
<!-- sidebar -->

<script src="{{ url_for('static', filename='js/lib/bootstrap.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/scripts.js') }}"></script>
<!-- bootstrap -->

<script src="{{ url_for('static', filename='js/lib/calendar-2/moment.latest.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/lib/calendar-2/pignose.calendar.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/lib/calendar-2/pignose.init.js') }}"></script>


<script src="{{ url_for('static', filename='js/lib/weather/jquery.simpleWeather.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/lib/weather/weather-init.js') }}"></script>
<script src="{{ url_for('static', filename='js/lib/circle-progress/circle-progress.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/lib/circle-progress/circle-progress-init.js') }}"></script>
<script src="{{ url_for('static', filename='js/lib/chartist/chartist.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/lib/sparklinechart/jquery.sparkline.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/lib/sparklinechart/sparkline.init.js') }}"></script>
<script src="{{ url_for('static', filename='js/lib/owl-carousel/owl.carousel.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/lib/owl-carousel/owl.carousel-init.js') }}"></script>
<!-- scripit init-->
<script src="{{ url_for('static', filename='js/dashboard2.js') }}"></script>

<!-- jQuery -->
<script src="{{ url_for('static', filename='plugins/jquery/jquery.min.js') }}"></script>
<!-- Bootstrap 4 -->
<script src="{{ url_for('static', filename='plugins/bootstrap/js/bootstrap.bundle.min.js') }}"></script>
<!-- DataTables  & Plugins -->
<script src="{{ url_for('static', filename='plugins/datatables/jquery.dataTables.min.js') }}"></script>
<script src="{{ url_for('static', filename='plugins/datatables-bs4/js/dataTables.bootstrap4.min.js') }}"></script>
<script src="{{ url_for('static', filename='plugins/datatables-responsive/js/dataTables.responsive.min.js') }}"></script>
<script src="{{ url_for('static', filename='plugins/datatables-responsive/js/responsive.bootstrap4.min.js') }}"></script>
<script src="{{ url_for('static', filename='plugins/datatables-buttons/js/dataTables.buttons.min.js') }}"></script>
<script src="{{ url_for('static', filename='plugins/datatables-buttons/js/buttons.bootstrap4.min.js') }}"></script>
<script src="{{ url_for('static', filename='plugins/jszip/jszip.min.js') }}"></script>
<script src="{{ url_for('static', filename='plugins/pdfmake/pdfmake.min.js') }}"></script>
<script src="{{ url_for('static', filename='plugins/pdfmake/vfs_fonts.js') }}"></script>
<script src="{{ url_for('static', filename='plugins/datatables-buttons/js/buttons.html5.min.js') }}"></script>
<script src="{{ url_for('static', filename='plugins/datatables-buttons/js/buttons.print.min.js') }}"></script>
<script src="{{ url_for('static', filename='plugins/datatables-buttons/js/buttons.colVis.min.js') }}"></script>
<!-- AdminLTE App -->
<!-- SweetAlert2 -->
<script src="{{ url_for('static', filename='plugins/sweetalert2/sweetalert2.min.js') }}"></script>
<!-- Bootstrap Switch -->
<script src="{{ url_for('static', filename='plugins/bootstrap-switch/js/bootstrap-switch.min.js') }}"></script>
<!-- Page specific script -->

<script src="{{ url_for('static', filename='js/lib/barRating/jquery.barrating.js') }}"></script>
<script src="{{ url_for('static', filename='js/lib/barRating/barRating.init.js') }}"></script>

<script src="{{ url_for('static', filename='js/lib/calendar-2/moment.latest.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/lib/calendar-2/pignose.calendar.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/lib/calendar-2/pignose.init.js') }}"></script>

<script>
    $(function () {
        $(".custom-file-input").on("change", function () {
            var fileName = $(this).val().split("\\").pop();
            $(this).siblings(".custom-file-label").addClass("selected").html(fileName);
        })
        $("input[data-bootstrap-switch]").each(function () {
            $(this).bootstrapSwitch('state', $(this).prop('checked'));
        })
        $("#example1").DataTable({
            "responsive": true,
            "lengthChange": false,
            "autoWidth": false,
            "buttons": ["colvis"]
        }).buttons().container().appendTo('#example1_wrapper .col-md-6:eq(0)');
        $("#example2").DataTable({
            "responsive": true,
            "lengthChange": false,
            "autoWidth": false,
            "buttons": ["colvis"]
        }).buttons().container().appendTo('#example2_wrapper .col-md-6:eq(0)');
    });

    $(document).ready(function () {

        // Filter data mahasiswa
        // Initialize the DataTable
        var tableMahasiswa= $('#example1').DataTable();

        // Handle the change event of the #kelas dropdown
        $('#kelas').on('change', function () {
            var selectedValue = $(this).val();
            // Filter the first column (index 0) based on the selected value
            tableMahasiswa.column(2).search(selectedValue).draw();
        });
        // End of filter data mahasiswa

        $(document).ready(function () {
            var table = $('#example2').DataTable();
            
            $('#tahun').on('change', function () {
                var selectedYear = this.value;

                // Perform the search/filtering
                table.search(selectedYear).draw();
            });
        });


    });

</script>

</body>

</html>